In [117]:
import pandas as pd
from IPython.display import display, HTML

In [118]:
gdp = pd.read_csv('Data/gdpData.csv', header=0, sep=';')
ratings = pd.read_csv('Data/uaScoresDataFrame.csv', index_col=0)
display(gdp)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,"24712,49326","26441,61994","26893,01151","28396,90842","28452,17061","29350,80502","30253,27936",NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,"153,4944391","152,8733129","162,4131876","189,5061698","168,8169946","187,3963064",...,"1736,16656","1713,899299","1703,596298","1549,03794","1431,778723","1573,063386","1574,978648","1530,059177","1359,618224",NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,"59,7732337","59,86089999","58,4580087","78,70642878","82,09530653","101,1083252",...,"638,8458516","624,3154545","614,2233424","556,0072209","512,0127781","516,6798622","485,6684187","494,1793499","516,7478708",NaN
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,"107,9322333","113,0816466","118,8311067","123,442888","131,8544019","138,5263324",...,"1965,118485","2157,481149","2212,853135","1894,310195","1673,835527","1613,473553","1704,139603","1777,918672","1710,073363",NaN
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,"5100,097027","5254,881126","5408,4117","4166,979833","3506,073128","4095,810057","3289,643995","2809,626088","1776,166868",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,"3410,85978","3704,784221","3902,676013","3520,766449","3759,560246","4009,380987","4384,048892","4416,108358","4310,811183",NaN
262,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,"1446,536472","1607,152173","1674,002572","1601,830063","1152,720966","964,2648105","758,1452416",NaN,NaN,NaN
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,"443,0099197","454,9620132","473,0114048","511,4973636","548,9960578","584,7041627",...,"8222,197279","7467,079185","6988,808739","6259,839681","5756,965741","6690,939847","7005,095413","6624,761865","5655,867654",NaN
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,"232,1885645","220,0420671","212,5784491","213,8967589","242,3844725","303,2817405",...,"1763,069442","1878,346811","1762,427817","1338,290927","1280,806543","1535,196574","1516,368371","1305,001031","985,132436",NaN
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,"278,8138468","280,8286629","276,6882328","277,4797151","281,558896","293,308788",...,"1304,968011","1429,998461","1434,896277","1445,069702","1464,588957","1235,189032","1254,642265","1316,740657","1214,50982",NaN

In [119]:
print(gdp['Indicator Name'].unique())
print(gdp['Indicator Code'].unique())

['GDP per capita (current US$)']
['NY.GDP.PCAP.CD']

In [120]:
gdp = gdp.drop(labels=['Indicator Name', 'Indicator Code'], axis=1)

In [121]:
ratings['UA_Country'] = ratings['UA_Country'].str.strip()
relevant_countries = ratings['UA_Country'].unique()
gdp = gdp[gdp['Country Name'].isin(relevant_countries)].reset_index(drop=True)

In [122]:
display(gdp)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"38686,46126","39540,72481","41303,92937","35770,7767","37475,63506","38964,90448","41791,96984","40897,33087",NaN,NaN
1,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"40976,49075","42412,6395","43751,80565","38663,4005","38141,86713","40644,79119","43839,32449","42701,44305","36284,55524",NaN
2,Argentina,ARG,NaN,NaN,"1155,890717","850,3045786","1173,238105","1279,113778","1272,803204","1062,543412",...,"13082,66433","13080,25473","12334,79825","13789,06042","12790,24247","14613,04182","11795,15939","10056,63794","8579,017773",NaN
3,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3681,844691","3838,17388","3986,231624","3607,289299","3591,828052","3914,527854","4220,540321","4604,646324","4266,018074",NaN
4,Australia,AUS,"1810,61923","1877,616638","1854,656834","1967,116537","2131,377948","2281,098797","2343,99529","2580,271096",...,"68027,84171","68156,62792","62511,69059","56707,02208","49881,76371","53934,25018","57180,7794","54875,28596","51680,31652",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"4004,804396","4187,739845","3104,643206","2124,662319","2187,73051","2638,326055","3096,561697","3661,456204","3724,938437",NaN
83,Uruguay,URY,"489,350725","601,7030027","656,7132268","584,2916335","741,244998","701,7047182","664,4398411","580,9702588",...,"15171,58017","16973,68924","16831,94819","15613,74597","16715,63347","18690,89384","18703,86029","17688,01501","15438,41167",NaN
84,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2267,623275","2419,718703","2628,460008","2753,971072","2704,677188","1916,764642","1597,068337","1784,009816","1750,697113",NaN
85,Vietnam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1735,152116","1886,69017","2030,278447","2085,101349","2192,174482","2365,521615","2566,447487","2715,27598","2785,724161",NaN
86,South Africa,ZAF,"443,0099197","454,9620132","473,0114048","511,4973636","548,9960578","584,7041627","621,2205434","675,1353451",...,"8222,197279","7467,079185","6988,808739","6259,839681","5756,965741","6690,939847","7005,095413","6624,761865","5655,867654",NaN

In [123]:
gdp.loc[:, '1960':'2021'].isna().sum(0)[::-1].idxmin()

'2019'

In [124]:
gdp[gdp.loc[:, '2019'].isna()]['Country Name']

32    Gibraltar
Name: Country Name, dtype: object

In [125]:
gdp_addon = pd.DataFrame(data={
    'UA_Country': gdp['Country Name'],
    'GDP': gdp['2019']
})
gdp_addon.loc[32, 'GDP'] = 92843
display(gdp_addon)

              UA_Country          GDP
0                Andorra  40897,33087
1   United Arab Emirates  42701,44305
2              Argentina  10056,63794
3                Armenia  4604,646324
4              Australia  54875,28596
..                   ...          ...
82               Ukraine  3661,456204
83               Uruguay  17688,01501
84            Uzbekistan  1784,009816
85               Vietnam   2715,27598
86          South Africa  6624,761865

[87 rows x 2 columns]

In [126]:
ratings_with_gdp = pd.merge(ratings, gdp_addon, left_on='UA_Country', right_on='UA_Country')
ratings_with_gdp

,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,...,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors,GDP
0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,9.940000,...,8.704333,5.3665,7.63300,4.8865,5.0680,8.3730,3.1870,9.7385,4.1300,"59775,7351"
1,Copenhagen,Denmark,Europe,4.2270,3.426,6.2070,4.467,6.3000,6.29550,9.940000,...,7.985333,5.3010,8.27225,4.8865,5.0680,7.2395,7.0630,9.0955,4.6710,"59775,7351"
2,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,9.399667,...,7.936667,5.1420,8.33075,6.0695,4.5885,4.3410,4.3285,7.8220,5.5310,"54875,28596"
3,Brisbane,Australia,Oceania,5.2120,5.177,6.3430,3.240,2.4345,4.61775,9.399667,...,8.317667,5.9210,8.82775,6.0695,4.5885,4.4075,4.0100,7.4895,6.2565,"54875,28596"
4,Melbourne,Australia,Oceania,4.8300,4.798,8.2040,5.020,2.8465,4.87200,9.399667,...,8.016000,6.2205,7.89150,6.0695,4.5885,5.8960,6.4610,7.0005,6.2030,"54875,28596"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Tunis,Tunisia,Africa,9.9680,9.998,2.9690,0.000,2.6080,5.61450,6.621667,...,6.292667,0.5000,3.27975,3.0920,2.5990,1.0725,5.7425,4.7270,5.3655,"3574,654024"
186,Valletta,Malta,Europe,3.1530,0.000,3.9095,2.148,1.8890,0.00000,5.377000,...,8.107000,2.8195,3.77575,5.5395,5.7835,3.2015,5.8270,7.5630,4.7170,"30186,19596"
187,Vilnius,Lithuania,Europe,8.6210,7.576,4.2230,2.828,2.1050,5.92775,7.600333,...,6.330667,3.7000,8.71775,4.6910,6.5925,7.9265,5.1985,7.3930,4.1060,"19575,76848"
188,Yerevan,Armenia,Asia,9.6945,9.431,3.9265,0.000,1.7870,5.64925,6.501000,...,5.102000,0.0000,4.43950,3.4580,8.0550,3.9000,4.7370,7.3465,7.7765,"4604,646324"
189,Zagreb,Croatia,Europe,8.9100,7.194,4.4530,1.775,2.0280,4.83000,5.720333,...,7.266000,3.2110,7.33150,2.2365,7.9935,5.0335,4.9945,7.9545,4.8090,"15311,7669"

In [131]:
ratings_with_gdp.to_csv('Data/ratingsWithGDP.csv')