In [12]:
import pandas as pd

In [13]:
scores = pd.read_csv('Data/uaScoresDataFrame.csv', index_col=0)

In [14]:
scores.isin([0]).sum(0).sort_values(ascending=False)

Venture Capital          74
Education                26
Cost of Living           18
Commute                  11
Economy                   3
Startups                  2
Leisure & Culture         2
Business Freedom          2
Housing                   1
Healthcare                1
UA_Name                   0
Tolerance                 0
Internet Access           0
Taxation                  0
Safety                    0
Environmental Quality     0
UA_Country                0
Travel Connectivity       0
UA_Continent              0
Outdoors                  0
dtype: int64

In [15]:
scores.drop(labels='Venture Capital', axis=1, inplace=True)

In [16]:
count_column_name = 'number'
zeros = scores.loc[(scores==0).any(1)][['UA_Name', 'UA_Country']]\
    .join(pd.Series((scores==0).sum(1), name=count_column_name))\
    .sort_values(count_column_name, ascending=False)\
    .reset_index(drop=True)
zeros

                       UA_Name               UA_Country  number
0                      Andorra                  Andorra       6
1                    Gibraltar                Gibraltar       5
2                     Tashkent               Uzbekistan       3
3                  Belize City                   Belize       3
4                       Panama                   Panama       3
5                      Managua                Nicaragua       3
6                     Valletta                    Malta       2
7                     San Juan              Puerto Rico       2
8                     Portland                    Maine       2
9                    Palo Alto               California       2
10                      Havana                     Cuba       2
11                      La Paz                  Bolivia       2
12                     Fukuoka                    Japan       2
13                   Baltimore                 Maryland       2
14                     Bozeman                  Montana       2
15              Guatemala City                Guatemala       1
16                        Baku               Azerbaijan       1
17                        Bali                Indonesia       1
18                    Sarajevo   Bosnia and Herzegovina       1
19                San Salvador              El Salvador       1
20             San Luis Obispo               California       1
21                       Quito                  Ecuador       1
22                  Providence             Rhode Island       1
23                  Phnom Penh                 Cambodia       1
24                     Caracas                Venezuela       1
25                  Casablanca                  Morocco       1
26                        Oulu                  Finland       1
27                      Manila              Philippines       1
28               Dar es Salaam                 Tanzania       1
29                      Madrid                    Spain       1
30                        Lviv                  Ukraine       1
31  Las Palmas de Gran Canaria                    Spain       1
32                    Asuncion                 Paraguay       1
33                       Lagos                  Nigeria       1
34                       Kyoto                    Japan       1
35                    Kingston                  Jamaica       1
36                   Kathmandu                    Nepal       1
37                   Hyderabad                    India       1
38                Fort Collins                 Colorado       1
39                     Yerevan                  Armenia       1

In [17]:
scores.drop(labels=['Startups', 'Business Freedom', 'Tolerance', 'Outdoors'], axis=1, inplace=True)

In [18]:
scores = scores[(scores != 0).all(1)]

In [19]:
scores['UA_Country'] = scores['UA_Country'].str.strip()

In [20]:
scores.to_csv('Data/ratingsClear.csv')